{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    ["@babel/proposal-pipeline-operator", { "proposal": "fsharp" }]
  ],
}